.about-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "bars"
    "about-main"
    "footer";

    header {
        grid-area: header;
    }

    .bars {
        grid-area: bars;
    }

    .about-main {
        grid-area: about-main;
        overflow: scroll;

        height: 100vh;
        position: relative;
        background-image: linear-gradient(
            to right bottom,
            rgba(247, 247, 247, 0.8),
            rgba(255, 255, 156, 0.8)
        );
        background-size: cover;
        background-position: top;
        position: relative;

        clip-path: polygon(0 20vh, 100% 0, 100% 70vh, 0 100%);

        .about-main-container {
            width: 80%;
            height: 100%;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: 1.2rem;

            h2 {
                margin-bottom: .5rem;
            }

            h3 {
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.6;
            }
        }
    }

    footer {
        grid-area: footer;
    }
}

/*
* Media Queries min width 768px max with 1024px
* for tablets
*/
@media (min-width: 768px) and (max-width: 1024px) {

    .about-grid-container {

        .about-main {

            .about-main-container {
                font-size: 2rem;
            }
        }
    }

}