.home-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "bars"
    "skills"
    "footer";

    header {
        grid-area: header;
    }

    .bars {
        grid-area: bars;
    }

    .skills {
        grid-area: skills;
    }

    footer {
        grid-area: footer;
    }
}