@import '../../App.scss';

.project-card {
    width: 60rem;
    height: 35rem;
    overflow: hidden;
    margin: 0 2rem 5rem 2rem;

    @include respond(sm) {
        width: 100%;
        height: auto;
        min-height: 30rem;
    }

    &__wrapper-project {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .6;
        transition: all .5s;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }

        @include respond(md) {
            opacity: 1;
        }

        @include respond(sm) {
            height: auto;
            min-height: 30rem;
        }
    }

    &__container-project-title {
        padding: 0 1rem;

        @include respond(sm) {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }

    &__project-title {
        color: $white;
    }

    &__container-project-description {
        padding: 0 2rem;

        @include respond(sm) {
            margin-bottom: 2rem;
        }
    }

    &__project-description {
        color: $white;
    }

    &__container-project-btn {

        @include respond(sm) {
            margin-bottom: 2rem;
        }
    }

}
