@import '../../App.scss';

.button-large {
    width: auto;
    max-width: 50rem;
    position: relative;
    background: linear-gradient(240deg, $white 0%, $black 49%, $white 80%, $white 100%);
    padding: .3rem;
    margin: auto;
    border-radius: .5rem;
    animation: moving-border 3s linear infinite;

    &:hover {
        background: linear-gradient(240deg, $yellow-light 0%, $black 49%, $yellow-light 80%, $yellow-light 100%);
    }

    &__link {
        text-decoration: none;
    }

    &__content {
        font-size: 1.8rem;
        text-align: center;
        background: $black-dark;
        color: $white;
        padding: 2rem;

        &:hover {
            color: $yellow-light;
        }
    }
}

@keyframes moving-border {

    to {
        background-position: 10rem;
    }

}
