@import '../../App.scss';

.header {
    height: 90vh;
    font-family: 'Fuzzy Bubbles', cursive;
    background-image: linear-gradient(
        to right bottom,
        rgba(247, 247, 247, 0.8),
        rgba(255, 255, 156, 0.8)
    );
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    margin-bottom: 5rem;

    @include respond(md) {
        height: 100vh;
    }

    &__container-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;

        @include respond(md) {
            align-items: flex-start;
        }
    }

    &__content-wrapper {
        text-align: center;
        padding: 2rem;
    }

    &__title {
        animation: move-in-left 1s ease-out;
    }

    &__title-sub {
        margin-bottom: 1rem;
        animation: move-in-right 1s ease-out;
    }

    &__container-icons {
        animation: move-in-up 1s ease-in-out;
    }

    &__icon-node {
        animation: move-icon-up 8s infinite;
    }

    &__icon-react {
        animation: move-icon-up 8s infinite 1s;
    }

    &__icon-javascript {
        animation: move-icon-up 8s infinite 2s;
    }

    &__icon-php {
        animation: move-icon-up 8s infinite 3s;
    }

    &__icon-symfony {
        animation: move-icon-up 8s infinite 4s;
    }

    &__icon-mysql {
        animation: move-icon-up 8s infinite 5s;
    }

    &__icon-sass {
        animation: move-icon-up 8s infinite 6s;
    }

    &__icon-css {
        animation: move-icon-up 8s infinite 7s;
    }

    &__icon-html {
        animation: move-icon-up 8s infinite 8s;
    }

}

// Animations
@keyframes move-in-left {

    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes move-in-right {

    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes move-in-up {

    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translate(0);
    }

}

@keyframes move-icon-up {

    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }

}
