.squares {
    width: 80%;
    height: 30vh;
    margin: 2rem auto;
    padding: 0;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: #fff;
    overflow: hidden;
    position: relative;

    .script-box {
        will-change: width, height, left, top;
        position: relative;
    }
}
  
/*
* Media Queries min width 1025px
* for laptops and desktop
*/
@media (min-width: 1025px){

    .squares {
        height: 50vh;
    }

}