footer {
    height: 30vh;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: #000;
    color: #fff;

    .react-icons-github,
    .react-icons-twitter {
        display: block;
        margin: 1rem auto;
        font-size: 2rem;
    }

    .react-icons-github {
        color: #F1502F;
    }

    .react-icons-twitter {
        color: #1DA1F2;
    }

    .footer-heart {
        color: #ff0000;
        font-size: 1.5rem;
    }

    p {
        line-height: 1.6;
    }
}

/*
* Media Queries max with 299px
* for small smartphone like JioPhone 2
*/
@media (max-width: 299px) {

    footer {
        height: 70vh;
    }

}

/*
* Media Queries min width 300px max with 320px
* for small smartphone like iPhone 4
*/
@media (min-width: 300px) and (max-width: 320px) {

    footer {
        height: 40vh;
    }

}

/*
* Media Queries min width 450px max with 767px
* for landscape
*/
@media (min-width: 450px) and (max-width: 767px) {

    footer {
        height: 60vh;
    }

}