.bars {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: black;
    background: #fff;
  }
  
  .script-bf-box {
    width: 4rem;
    height: 4rem;
    background: black;
    margin: 5px;
    will-change: transform;
  }
  
  .script-bf-box:hover {
    background: #FF6700;
  }
  
  /*
* Media Queries min width 768px max with 1024px
* for tablets
*/
@media (min-width: 768px) and (max-width: 1024px) {

  .bars {

    .script-bf-box {
      width: 8rem;
      height: 8rem;
    }
  }

}

/*
* Media Queries min width 1025px
* for laptops and desktop
*/
@media (min-width: 1025px){

  .bars {

    .script-bf-box {
      width: 12rem;
      height: 12rem;
      margin: 2rem;
    }
  }

}