.elastic-title {
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #123456, #FFFF9C);
    -webkit-background-clip: text;
    background-color: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
}

.elastic-title:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
}