.elastic-title {
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #123456, #FFFF9C);
    -webkit-background-clip: text;
    background-color: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
}

.elastic-title:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
}

/*
* Media Queries max with 299px
* for small smartphone like JioPhone 2
*/
@media (max-width: 299px) {

    .elastic-title {
        font-size: 1.8rem;
    }

}

/*
* Media Queries min width 300px max with 320px
* for small smartphone like iPhone 4
*/
@media (min-width: 300px) and (max-width: 320px) {

    .elastic-title {
        font-size: 2.5rem;
    }

}

/*
* Media Queries min width 768px max with 1024px
* for tablets
*/
@media (min-width: 768px) and (max-width: 1024px) {

    .elastic-title {
        font-size: 5rem;
    }

}

/*
* Media Queries min width 1025px
* for laptops and desktop
*/
@media (min-width: 1025px){

    .elastic-title {
        font-size: 6rem;
        margin-bottom: 5rem;
    }

}