.viaggin__grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "viaggin__title"
    "viaggin__main";
}

header {
    grid-area: header;
}

.viaggin__title {
    grid-area: viaggin__title;   
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
}

.viaggin__main {
    grid-area: viaggin__main;
    margin-top: 3rem;
    border: 1px solid #ff0000;
}

.viaggin__container {
    width: 20rem;
    height: 10rem;
    border: 1px solid #ff00ff;
}