.portfolio-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "portfolio-title"
    "main"
    "footer";

    header {
        grid-area: header;
    }

    .portfolio-title {
        grid-area: portfolio-title;
        margin-top: 3rem;
        text-align: center;
        font-size: 2rem;
    }

    main {
        grid-area: main;
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .portfolio-project {
            width: 80%;
            background-color: #D4CDF4;
            // overflow: hidden;

            .portfolio-project-img {
                width: 100%;
                height: 100%;
                // mix-blend-mode: multiply;
                // opacity: .5;
                // transition: all .5s ease-in-out;
            }

            // .portfolio-project-img:hover {
            //     transform: scale(1.1, 1.1);
            //     opacity: 1;
            //     mix-blend-mode: normal;
            // }
        }
    }

    footer {
        grid-area: footer;
    }
}