.portfolio-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "squares"
    "portfolio-title"
    "main"
    "footer";

    header {
        grid-area: header;
    }

    .squares {
        grid-area: squares;
    }

    .portfolio-title {
        grid-area: portfolio-title;
        margin-top: 3rem;
        text-align: center;
        font-size: 2rem;
    }

    main {
        grid-area: main;
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    footer {
        grid-area: footer;
    }
}